@page "/"
@inject ILogger<Index> Logger
@inject HttpClient HttpClient

@if (string.IsNullOrWhiteSpace(_info))
{
 <h1>Loading...</h1>
}
else
{
    <h1>Index</h1>
    <p>@_info</p>
}

@code{

    [CascadingParameter]
    public ThemeStore ContextTheme { get; set; }

    private string _info;

    protected override async Task OnInitializedAsync()
    {
        // Call api/info Api
        _info = await HttpClient.GetStringAsync("/info");
        await base.OnInitializedAsync();
        Logger.LogDebug("Index initialized");
    }

}