@page "/"
@using Beng.Specta.Compta.Core.DTOs
@inject NavigationManager NavigationManager

<GenericPage Title="Dashboard"
             Loader="@LoadItems"
             Icon="vuestic-iconset vuestic-iconset-forms"
             NewText="Initier un Projet"
             AddAction="NavigateToProject">
    <Loading>
        <h1>Loading...</h1>
    </Loading>
    <Empty>
        Aucun rapport disponible. Vous n'avez pas de projets disponibles.
    </Empty>
    <Item Context="item">
        <div class="dashboard">
            <DashboardCharts />
            <DashboardInfoBlock />
        </div>
    </Item>
</GenericPage>

@code{

    [CascadingParameter] public ThemeDictionary ContextTheme { get; set; }

    protected async Task<IList<ProjectDTO>> LoadItems()
    {
        return await Task.Run(() => new List<ProjectDTO>());//GetProjects();
    }

    private void NavigateToProject()
    {
        NavigationManager.NavigateTo("projects");
    }
}