<Router AppAssembly="typeof(Program).Assembly" Context="routeData">
    <Found>
        <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(AppMainLayout)" />
    </Found>
    <NotFound>
        <AuthorizeRouteView DefaultLayout="typeof(AppMainLayout)">
            <div class="main">Page not found</div>
        </AuthorizeRouteView>
    </NotFound>
</Router>