@page "/accounting-analytic-plan"
@inject ILogger<AnalyticPlan> Logger
@inject HttpClient HttpClient

<GenericPage Title="Plan analytique"
             Loader="@LoadItems"
             Icon="vuestic-iconset vuestic-iconset-files"
             NewText="Ajouter une entrée">
    <Loading>
        <h1>Loading...</h1>
    </Loading>
    <Empty>
        Vous n'avez aucune entrée dans votre plan analytique.
    </Empty>
    <ItemTemplate Context="item">
        <div class="col">
            <h5>@item.Name</h5>
            Code:
            <strong>@item.Code</strong>;
            Date de début:
            <strong>£@item.StartDate</strong>
        </div>
        <div class="col">
            Durée: <strong>@item.Duration</strong>
        </div>
    </ItemTemplate>
</GenericPage>

@code{
    
    protected async Task<IEnumerable<ProjectDto>> LoadItems()
    {
        //await Task.Delay(3000);
        
        return await Task.Run(() => new List<ProjectDto>());//GetProjects();
    }
}