@using Beng.Specta.Compta.Client.Layout.Navbar.Dropdowns

<div class="@ComputedClass" >
    <SettingsDropdown class="app-navbar-actions__item" />
    <NotificationDropdown class="app-navbar-actions__item"/>
    <LanguageDropdown class="app-navbar-actions__item"/>
    <ProfileDropdown class="app-navbar-actions__item app-navbar-actions__item--profile"
        Label="@UserName" />
</div>

@code{

    [Parameter] public string Class { get; set; }

    private string UserName { get; set; } = "LebCa";

    private string ComputedClass =>
        CssBuilder.Default("app-navbar-actions")
            .AddClass(Class, !string.IsNullOrWhiteSpace(Class))
            .Build();
}