@using Beng.Specta.Compta.Client.Layout.Navbar.Dropdowns
@inject ILogger<AppNavbarActions> Logger

<div class="app-navbar-actions @ExtraClass" >
    <NotificationDropdown ExtraClass="app-navbar-actions__item"/>
    <SettingsDropdown ExtraClass="app-navbar-actions__item" />
    <!-- <LanguageDropdown ExtraClass="app-navbar-actions__item" /> -->
    <ProfileDropdown ExtraClass="app-navbar-actions__item app-navbar-actions__item--profile">
        <span>@UserName</span>
    </ProfileDropdown>
</div>

@code{

    [Parameter]
    public string UserName { get; set; }

    [Parameter]
    public string ExtraClass { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        Logger.LogDebug($"{GetType().Name} initialized");
    }
}