@layout LoginLayout
@page "/forgot-password"
@inject HttpWebApiClient WebApiClient
@inject ILogger<ForgotPassword> Logger

<SfTab OverflowMode="OverflowMode.Popup">
    <TabItems>
        <TabItem>
            <ChildContent>
                <TabHeader Text="Mot de passe oublié ?"></TabHeader>
            </ChildContent>
            <ContentTemplate>
                <VaSeparator/>
                <div class="pa-3">
                    <EditForm Model="@_userInfo" OnValidSubmit="SendResetPasswordLink">
                        <DataAnnotationsValidator />
                        <ServerSideValidator @ref="ServerSideValidator" />

                        <VaInput @bind-Value="_userInfo.Email"
                            Type="@InputType.Email"
                            Label="Email" />

                        <div class="auth-layout__options d-flex align--center justify--space-between">
                            <NavLink class="ml-1 link" style="@LinkStyle" href="/login">Se connecter ?</NavLink>
                        </div>

                        <div class="d-flex justify--center mt-3">
                            <VaButton Type="@ButtonType.Submit" class="my-0">Valider</VaButton>
                        </div>
                    </EditForm>
                </div>
            </ContentTemplate>
        </TabItem>
    </TabItems>
</SfTab>

@code{

    [CascadingParameter] public ThemeDictionary ContextTheme { get; set; }

    private UserInfoDTO _userInfo { get; set; } = new UserInfoDTO();
    private ServerSideValidator ServerSideValidator { get; set; }

    private string LinkStyle =>
        StyleBuilder.Empty()
            .AddStyle("color", ContextTheme[ThemeDictionary.PrimaryKey], ContextTheme.IsInverted)
            .Build();

    private async Task SendResetPasswordLink()
    {
        await WebApiClient.CreateRequest("api/account/forgotpassword")
            .OnBadRequest<Dictionary<string, List<string>>>(errors => ServerSideValidator.DisplayErrors(errors, true))
            .OnOK("A link has been send to your email inbox for reseting yor password.", "/login")
            .PostAsync(_userInfo);
    }
}