@implements IDisposable
@inherits LayoutComponentBase
@inject LayoutState LayoutState
@inject AppSettings ContextConfig
@inject IJSRuntime JSRuntime

<CascadingValue Value="ContextConfig.SelectedTheme">
    <LoadingSpinner />
    <PageLoader IsVisible="@(!IsMainContentVisible)" />
    @if(IsMainContentVisible)
    {
    <div class="app-page-layout app-layout">
        <AppNavbar />
        <div class="app-layout__container">
            <AppSidebar />
            <div class="app-layout__main">
                <main class="app-layout__main-layout layout fluid gutter--md" role="main" >
                    @Body
                </main>
            </div>
        </div>
    </div>
    }
</CascadingValue>

 @code{

    private static readonly int AnimationDuration = 2000;
    private bool IsMainContentVisible { get; set; }
    private TenantInfoDTO TenantInfo { get; set; }

    private void ToggleInverted()
    {
        ContextConfig.ToggleInverted();
        StateHasChanged();
    }

    private async Task HidePageLoader()
    {
        await Task.Delay(AnimationDuration);
        IsMainContentVisible = true;
    }

    [JSInvokable]
    public void EnableMinimizedState() => LayoutState.UpdateMinimized(true);

    [JSInvokable]
    public void DisableMinimizedState() => LayoutState.UpdateMinimized(false);

    protected override async Task OnInitializedAsync()
    {
        ThemeDictionary.DEFAULT.OnToggle += ToggleInverted;
        ThemeDictionary.CORPORATE.OnToggle += ToggleInverted;

        LayoutState.OnChange += StateHasChanged;

        await HidePageLoader();
        await base.OnInitializedAsync();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JSRuntime.RegisterWindowResizeAsync(
                LayoutState.MobileWidth,
                DotNetObjectReference.Create(this));
        }
    }

    public void Dispose()
    {
        ThemeDictionary.DEFAULT.OnToggle -= ToggleInverted;
        ThemeDictionary.CORPORATE.OnToggle -= ToggleInverted;

        LayoutState.OnChange -= StateHasChanged;

        JSRuntime.UnregisterWindowResizeAsync(
            LayoutState.MobileWidth,
            DotNetObjectReference.Create(this));
    }
}