@page "/settings-users"
@inject ILogger<UserSettings> Logger
@inject HttpClient HttpClient

<GenericPage Title="Collaborateurs"
             Loader="@LoadItems"
             Icon="vuestic-iconset vuestic-iconset vuestic-iconset-settings"
             NewText="Ajouter un collaborateur">
    <Loading>
        <h1>Loading...</h1>
    </Loading>
    <Empty>
        Vous n'avez pas encore ajouter un collaborateur au projet en cours.
    </Empty>
    <Item Context="item">
        <div class="col">
            <h5>@item.Name</h5>
            Code:
            <strong>@item.Code</strong>;
            Date de début:
            <strong>£@item.StartDate</strong>
        </div>
        <div class="col">
            Durée: <strong>@item.Duration</strong>
        </div>
    </Item>
</GenericPage>

@code{

    protected async Task<IList<ProjectDTO>> LoadItems()
    {
        //await Task.Delay(3000);
        
        return await Task.Run(() => new List<ProjectDTO>());//GetProjects();
    }
}